{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>

    <title>
        {% block title %}
            Student Management System
        {% endblock %}
    </title>

    <!-- Tailwind CSS -->
    <link rel="stylesheet" href="{% static 'src/output.css' %}">

</head>

<body class="bg-gray-100 text-gray-800 font-[Arial,sans-serif]">

    <!-- Header -->
    <header class="bg-blue-500 text-white p-5 shadow-sm">

        <h1 class="text-3xl font-bold text-center tracking-wide">
            Student Management System
        </h1>

        <p class="text-gray-300 text-sm">
            Total Students: {{ student_count }}
        </p>

        <div class="flex items-center gap-2">
    <span class="font-semibold text-gray-700">
        Language:
    </span>

    <form action="{% url 'set_language' %}" method="post">
        {% csrf_token %}

        <select
            name="language"
            onchange="this.form.submit()"
            class="border border-gray-300 text-gray-900 bg-white rounded-lg px-3 py-2"
        >
            {% get_current_language as LANGUAGE_CODE %}

            {% get_available_languages as LANGUAGES %}

            {% for lang_code, lang_name in LANGUAGES %}
                <option
                    value="{{ lang_code }}"
                    {% if lang_code == LANGUAGE_CODE %}selected{% endif %}
                >
                    {{ lang_name }}
                </option>
            {% endfor %}
        </select>

        <input
            type="hidden"
            name="next"
            value="{{ request.path }}"
        >
    </form>
</div>

    </header>


    <!-- Main Content -->
    <main class="max-w-5xl mx-auto p-6">

        {% block content %}

        {% endblock %}

    </main>

</body>
</html>